*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  display: block;
}
.search-form {
  /* position: fixed; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  margin: 20px auto;
}

.search-input {
  display: block;
  margin: 0 auto;
  padding: 0px 10px;
  height: 40px;
  width: 300px;
  border: 2px solid grey;
  border-radius: 5px;
  outline: 0px;

  font-size: 20px;
}
.search-input:focus {
  border: 2px solid #2196f3;
}

.load-button {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #2196f3;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}
.load-button:hover {
  opacity: 1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo-card {
  width: 300px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.photo-card:not(:nth-child(4n)) {
  margin-right: 10px;
}

img {
  width: 100%;
  height: 195px;

  /* 195px */
  /* object-fit: fill; */
  margin-bottom: 10px;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: grey;
}
.stats-item {
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 3px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
